.fade-enter-active {
  transition: opacity .2s;
}
.fade-enter {
  opacity: 0;
}

.swipe-right-enter {
  transform: translateX(-20px);
  opacity: 0;
}
.swipe-left-enter {
  transform: translateX(20px);
  opacity: 0;
}
.swipe-right-enter-active,
.swipe-right-leave-active,
.swipe-left-enter-active,
.swipe-left-leave-active  {
  transition: all ease-in .15s;
}
.swipe-right-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
.swipe-left-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}
