$font-face: monospace;
$primary-color: #FF9900;
$secondary-color: #097054;
$tertiary-color: #6599FF;
$quaternary-color: #fff29a;

$default-background-color: #fff;
$default-text-color: #333;

$alternative-background-color: #efefef;
$alternative-text-color: #000;

$header-height: 64px;
$content-height: calc(100vh - 64px - 64px);
$footer-height: 64px;
