$font-face: monospace;
$primary-color: #F19D13;
$secondary-color: #FFF29A;
$tertiary-color: #FFEED1;
$quaternary-color: #6FB3B5;
$quinary-color: #264670;

$default-background-color: #fff;
$default-text-color: #333;

$alternative-background-color: #efefef;
$alternative-text-color: #000;

$header-height: 64px;
$content-height: calc(100vh - 64px - 64px);
$footer-height: 64px;
